body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "Verdana", "sans-serif";
    margin: 0;
    padding: 0;
}

/* Hero */

.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

ul, li {
    margin: 0;
    padding: 0;
}

.section-one {
    display: flex;
    flex: row;
    padding: 5%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.title {
    width: 450px;
}

.title p {
    color:#E5E7EB;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

.title button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #E5E7EB;
    font-size: 18px;
    width: 600px;
    height: 300px;
}

/* Area 2 */

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.information-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.illustration {
    border: 3px solid #3882F6;
    border-radius: 20px;
    height: 150px;
    width: 150px;
}

.subcontainer {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* Area 3 */

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    width: 48%;
    display: flex;
    flex-wrap: wrap;
}

.author {
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    margin-left: 30%;
    margin-top: -30px;
}

/* Area 4 */

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    flex-direction: row;
}

.advert-box {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 25px 100px;
    display: flex;
    gap: 100px;
}

.advert h4 {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
    margin-bottom: 0;
}

.advert p {
    margin-top: 0;
    color: #E5E7EB;
}

.advert-box button {
    color: #F9FAF8;
    font-weight: bold;
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    align-self: center;
}